.app {
    min-width: 900px;
    min-height: 630px;

    .app-container {
        display: flex;
        padding: 0;
        height: calc(100vh - 64px);

        .sidebar {
            height: 100%;
        }
    }
}
