<div class="event-list-container">
    <div class="top-bar">
        <div class="title">Danh sách chờ phê duyệt</div>
        <div *ngIf="isMultipleMode">
            <button title="Xóa tất cả" class="m-btn" id="deleteAllBtn"
                (click)="deleteMultipleEvents.emit(getListOfCheckedEventId())">
                <i class="bi bi-trash"></i>
            </button>
            <button title="Duyệt tất cả" class="m-btn" id="approveAllBtn"
                (click)="approveMultipleEvents.emit(getListOfCheckedEventId())">
                <i class="bi bi-check2-circle"> </i>
            </button>
        </div>
    </div>
    <div class="table-container">
        <table *ngIf="eventList && eventList.length > 0">
            <thead>
                <tr>
                    <th id="" class="text-align-center"><input type="checkbox" name="checkAll" id="checkAll"
                            [(ngModel)]="isCheckAll"></th>
                    <th id="" class="text-align-center">#</th>
                    <th style="min-width: 200px;" id="">Tiêu đề</th>
                    <th style="min-width: 150px;" id="">Nhân viên</th>
                    <th style="min-width: 150px;" id="" class="text-align-center">Ngày bắt đầu</th>
                    <th style="min-width: 120px;" id="" class="text-align-center">Thời gian bắt đầu</th>
                    <th style="min-width: 120px;" id="" class="text-align-center">Ngày kết thúc</th>
                    <th style="min-width: 120px;" id="" class="text-align-center">Thời gian kết thúc</th>
                    <th style="min-width: 120px;" id="" class="text-align-center">Ngày tạo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let event of eventList; let i = index; trackBy:trackByIdx"
                    (click)="selectEventRow(event.eventId)">
                    <td class="text-align-center"><input type="checkbox" name="" id="" [(ngModel)]="isCheck[i]"
                            (ngModelChange)="checkBoxModelValueChange($event)"></td>
                    <td class="text-align-center">{{i+1}}</td>
                    <td>{{event.title}}</td>
                    <td>{{event.fullName}}</td>
                    <td class="text-align-center">{{event.startTime | date:'dd/MM/yyyy'}}</td>
                    <td class="text-align-center">{{event.startTime | date:'HH:mm'}}</td>
                    <td class="text-align-center">{{event.endTime | date:'dd/MM/yyyy'}}</td>
                    <td class="text-align-center">{{event.endTime | date:'HH:mm'}}</td>
                    <td class="text-align-center">{{event.createdAt | date:'dd/MM/yyyy HH:mm'}}</td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="isLoading" class="loading-container">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <div *ngIf="(!eventList || eventList.length <= 0) && !isLoading">Không có dữ liệu</div>
    </div>
</div>