<div>
    <div>Kế hoạch làm việc</div>
    <app-calendar-add-form [isShow]='isAddFormShow' (isShowChange)="isAddFormShowChange($event)">
    </app-calendar-add-form>
    <div>
        <button (click)="addEventBtnClick()">Thêm sự kiện</button>
    </div>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
    <app-modal [isShow]="isEventDetailsShow" [isLoading]="eventCardLoading" (isShowChange)="isEventDetailsShow=$event">
        <app-event-card slot="body" [event]="selectingEvent" mode="view" (eventClose)="isEventDetailsShow = false"
            (eventDelete)="deleteEvent($event)"
            (eventComplete)="completeEvent($event)">
        </app-event-card>
    </app-modal>
</div>